/* transform관련 속성들 
.box {
    transform : rotate(10deg); 
    transform : translate(10px, 20px);
    transform : scale(2);
    transform : skew(30deg);
    
    transform 두개 이상을 한꺼번에 쓰려면
    transform : rotate(10deg) translateX(30px);
  }
  */

  .ani-button {
    text-align: center;
    width: 150px;
    padding: 15px 20px;
    font-size: 20px;
    background: skyblue;
    color: white;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 30px auto;
  }

.ani-button:hover {
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: 3;
  }
  
@keyframes shake {
    0% { transform: rotate(0deg)}
    25% { transform: rotate(-8deg)}
    50% { transform: rotate(8deg)}
    75% { transform: rotate(-8deg)}
    100% { transform: rotate(0deg)}
} 

/* ---------------------------------------------------------- */


.ani-x {
    margin: 150px auto;
    text-align: center;
    font-size: 70px;
    width: 84px;
    cursor: pointer;
  }
.ani-x:hover {
    animation-name: turn;
    animation-duration: 1s;
    animation-fill-mode: forwards; /*상태유지*/
}
  
@keyframes turn {
    0% { transform: rotate(0deg) }
    25% { transform: rotate(-15deg) }
    100% { transform: rotate(45deg) scale(3)}
  } 

/* ---------------------------------------------------------- */
.ani-navbar {
    width: 200px;
    background: black;
    color: white;
    height: 100%;
    padding: 25px;
    position: fixed;
    z-index: 5;
    text-align: right;
    transition: all 1s;
    transform: translateX(-130px);  /*초기화면*/
  }

/* 네비게이션 바 애니메이션 만들기 */
/* 검은박스 -> 시작,최종스타일만들고 트리거와 transition주기 */
.ani-navbar:hover {
    transform: translateX(-30px);  /*최종화면*/
    text-align: center;
    background-color: rgb(156, 145, 145, 0.5);
}

/* 글자 애니메이션
Item 글자는 우측이동 + skew / 좌측이동 이런 식으로 구현하면 될텐데
복잡한 애니메이션이기 때문에 keyframes를 정의하고 추가*/
@keyframes slide {
    0% { transform: translateX(-250px) }
    50% { transform: translateX(50px) skewX(-30deg)}
    100% { transform: translateX(0px) }
}

.ani-navbar:hover p {
    animation-name: slide;
    animation-duration: 1s;
} 












