td, th {
    /*border : 1px solid black; */
}

table{
    border-collapse: collapse;   /* 행렬경계없애기 */
}

.cart-background{
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

.cart-table{
    width: 80%;
    max-width: 800px;
    margin : auto;
    background: white;
    border-radius: 10px;
}

.cart-table td, .cart-table th {  /*cart-table 안의 모든 td들 */
    padding : 15px;
    border : 1px solid #c2d3de;

}


.cart-table th:nth-child(2){      /*cart-table안의 모든 th중 2번째만 고름  */
    width: 300px;                 /* 셀을 키울때 다른 셀의 최소 폭이 있으므로 
                                  width는 th에게 최대폭을 200px만큼 하라는 의미 */
}
/*  =>>> 아래와 같다. 
.cell-long{
    width: 200px;    
}*/

.btn{
    padding : 15px;
    font-size : 20px;
    border : none;
    border-radius : 10px;
    background-color: coral;
    color : white;
    cursor: pointer;      /* 누를수있게 변경 */
}

/*마우스 올렸을때 초콜릿, 클릭중 블루, 유지중일땐 그린 */
.btn:hover{         /*  마우스가 올라갈 때의 클래스  */
    background-color: chocolate;
}

.btn:focus{  /*포커스 된 상태(클릭하고 나서 */
    background-color: green;
}

.btn :active{    /*마우스를 누르고 있을 떄의 스타일 변경*/
    background-color: blue;
}

/*active와 focus는 순서가 중요하다. => focus 먼저, 그다음 active*/
.input-test{
    font-size: 20px;
}

.input-test:focus{
    border: 2px solid red;
}

/* 방문전 링크 스타일링은 : link */
.custom-link:link{
    color: rgb(114, 250, 166);
}
/* 방문 후 링크 스타일링 */
.custom-link:visited{
    color: red;
}
.custom-link{
    text-decoration: none;  /* 밑줄제거 */

}
