.alert-box{
    background-color: blue;
    color: white;
    padding: 20px;
    border-radius: 5px;

    display: none;  /*ui 숨기기*/

}

.alert-box p{
    display: inline;
}

.yellow-bg{
    background: yellow;
}


.main-background{
    background-image: url(shoes.jpg);
    background-size : cover;
    color : white;
    border-radius: 0px;
    height : 650px;
}

/*.black-background{                ///이건 fadeIn용 css 
    background : rgba(0,0,0,0.5);
    position : fixed;
    z-index : 5;    */                /*부트스트랩이 1~4를 사용해서 제일 앞으로 보여주기 위함*/
/*  width: 100%;
    height: 100%;
    display : none;  
}*/

/* 아래는 위와 기능은 유사하지만 애니메이트로 위->아래  */
.black-background{
    background : rgba(0,0,0,0.5);
    position : fixed;
    z-index : 5;    /*부트스트랩이 1~4를 사용해서 제일 앞으로 보여주기 위함*/
    width: 100%;
    height: 100%;
    display: none;
    margin-top : -1200px;     /*모달창 위로*/
}

.white-background{
    background : white;
    width : 30%;
    height: 500px;
    margin : 100px auto;
    padding: 20px;
    border-radius: 10px;
}


.nav-menu{
    display: flex;  /*가로배치*/
    justify-content: space-between;  /*양쪽정렬*/
    padding : 20px;
    align-items: center;
    background-color: transparent;
    position: fixed;
    z-index: 5;
    width: 100%;
    color: white;
}


.nav-black{
    background: white;
    color : black
}


.nav-sub{
    display: none;
}

.btn-lg{
    margin-top: 35px;
}

#login{
    display: block;
    width: 140px;
}

#email-alert{
    display : none;
    margin-top: 15px;
}

#psw-alert{
    display: none;
    margin-top: 15px;
}

.left-menu{
    width: 150px;
    height: 100%;
    background: black;
    color : white;
    position: fixed;  /*붕 띄우기*/
    /* margin-left : -150px;  숨기려고 이건 animate 때 사용*/
    display : none;

}

.slide-container{
    width: 300vw;
    /* transition: transform 3s;  애니메이션 */
}

/*pan을 사용하면 transition: transform 버그 때문에 새로운 클래스 생성
.slide-container에 있으면 항상 적용이 되기 때문에 이렇게 분리!!
마우스를 드래그 할때는 transition이 없었으면 좋겠고 마우스를 떼면 있었으면 좋겠으니!*/
.transforming{
    transition: transform 1s;
}


.slide-box{
    width: 100vw;      /*viewport width(실제 브라우저 화면)로부터 100%차지 */
    float : left;
}


.slide-box img{
    width: 100%;
}

.slide-next{
    position : absolute; /*요소 겹치기 (띄우기) ★★단 상위요소에 position relative필요!!*/
    top : 45%;
    right : 0;
    border-radius: 20px;
    border:none;
    background-color: white;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.slide-before{
    position : absolute; /*요소 겹치기 (띄우기) ★★단 상위요소에 position relative필요!!*/
    top : 45%;
    left : 0;
    border-radius: 20px;
    border:none;
    background-color: black;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.large-logo{
    font-size: 30px;
    transition: all 0.2s;  /*부드럽게*/
}

.small-logo{           /*최종화면*/
    font-size: 20px;
}

/*tap */
/* ul.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
  }
  
ul.list::after {
	content: '';
	display: block;
	clear: both;
}

.tab-button {
	display: block;
	padding: 10px 20px 10px 20px;
	float: left;
	margin-right: -1px;
	margin-bottom: -1px;
	color: grey;
	text-decoration: none;
	cursor: pointer;
}

.active {
	border-top: 2px solid orange;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid white;
	border-left: 1px solid #ccc;
	color: black;
	margin-top: -2px;
}

.tab-content {
	display: none;
	padding: 10px;
}

.show {
	display: block;
} */


/*-----------------------------버튼탭--------------------------*/
ul.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}

ul.list::after {
	content: '';
	display: block;
	clear: both;
}

.tab-button {
	display: block;
	padding: 10px 20px 10px 20px;
	float: left;
	margin-right: -1px;
	margin-bottom: -1px;
	color: grey;
	text-decoration: none;
	cursor: pointer;
}

.active {            /*눌렀을때 주황색이 보이는 기능*/
	border-top: 2px solid orange;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid white;
	border-left: 1px solid #ccc;
	color: black;
	margin-top: -2px;
}

.tab-content {
	display: none;
	padding: 10px;
}
 
.show {            /*show클래스 =>  display none이 아니므로 상품 내용을 보여준다*/
	display: block;
}

/*------------------------------------------------------*/