.main-background{
    background-image: url(shoes.jpg);
    background-size : cover;
    color : white;
    border-radius: 0px;
    height : 650px;
}
.black-bg {
    margin: 0px auto;
    width: 100%;
    /* max-width: 1200px; */
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    padding: 30px;
    /*display: none;  평소에 숨김. 근데 애니메이션 대용으로는 visibility : hidden; 사용*/

    /* 애니메이션 관련 */
    visibility: hidden;  /*애니메이션 만들때 자주씀*/
    opacity: 0;   /*투명도 0*/
    transition: all 0.2s;
}
.white-bg{
    margin: auto;
    margin-top: 200px;
    height: 500px;
    width: 550px;
    background: white;
    border-radius: 15px;
    padding: 30px;
}

.show-modal {
    visibility: visible;   /*display:block 과 유사 */
    opacity: 1;
}

/* 애니메이션 만들기 */
/* black-bg에 시작스타일 , show-modal에 최종스타일 
즉, 처음엔 안보임. 근데 로그인 버튼을 누르면 show-modal이 붙어서 보이게 만드는 방식
그리고 마지막으로 transition으로 애니메이션을 준다.
*/
.form-frame{
    margin-top: 25px;
}
.form-control{
    padding: 5px;
    width: 450px;
}
.submit-close{
    margin-top: 25px;
}


.nav-menu{
    display: flex;  /*가로배치*/
    justify-content: space-between;  /*양쪽정렬*/
    padding : 15px;
    align-items: center;

}
.nav-sub{
    display: none;
}
.btn-lg{
    margin-top: 35px;
}


/* ------------------carousel---------------- */
.slide-container {
    width: 300vw;
    transition: all 1s;
    /* transform: translateX(-100vw); */
  } 

  .slide-box {
    width: 100vw;
    float: left;
  }
  .slide-box img {
    width: 100%;
  } 



#email-alert{
    display : none;
    margin-top: 15px;

}
#psw-alert{
    display: none;
    margin-top: 15px;
}
.alert-box{
    background-color: rgb(135, 135, 197);
    color: rgb(49, 30, 30);
    padding: 20px;
    border-radius: 5px;

    display: none;  /*평소엔 ui 숨기기*/
}

.alert-box p{
    display: inline;
}
.yellow-bg{
    background: yellow;
}


/* --------------------before, next 버튼 디자인---------------------- */
.slide-next{
    position : absolute; /*요소 겹치기 (띄우기) ★★단 상위요소에 position relative필요!!*/
    top : 45%;
    right : 0;
    border-radius: 20px;
    border:none;
    background-color: white;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
.slide-before{
    position : absolute; /*요소 겹치기 (띄우기) ★★단 상위요소에 position relative필요!!*/
    top : 45%;
    left : 0;
    border-radius: 20px;
    border:none;
    background-color: black;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}


