<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>웹 개발 입문입니다ㅇㅇㅇㅇ</title>
    <link href="../public/navbar.css" rel="stylesheet">
 
  </head>
  <body>
    <nav class="nav-container">        <!--display : flex 써서 가로배치 완료-->
        <div class="nav-item navs-shop">
            <a href="/">To do list <span class="sr-only">(current)</span></a>
        </div>
        <div class="nav-item nav-etc" >
            <a href="/aboutme">Aboue Me</a>
        </div>
        <div class="nav-item nav-etc" >
            <a href="/projects">Projects</a>
        </div>
        <div class="nav-item nav-etc" >
            <a href="/write">Writes</a>
        </div>
        <div class="nav-item nav-etc" >
            <a href="/list">List</a>
        </div>
        <div class="nav-item nav-etc" >
            <a href="/mypage">Mypage</a>
        </div>


        <div style="flex-grow: 1;"></div>        <!--shoeshop박스와 나머지 2개 띄우기-->
        <div class="nav-item navs-login">
            <a href="/login">Login</a>
        </div>
    </nav>

  </body>
  <p>
  
</html>

