.alert-box{
    background-color: blue;
    color: white;
    padding: 20px;
    border-radius: 5px;

    display: none;  /*ui 숨기기*/

}

.alert-box p{
    display: inline;
}

.yellow-bg{
    background: yellow;
}



.main-background{
    background-image: url(shoes.jpg);
    background-size : cover;
    color : white;
    border-radius: 0px;
    height : 650px;
}

/*.black-background{                ///이건 fadeIn용 css 
    background : rgba(0,0,0,0.5);
    position : fixed;
    z-index : 5;    */                /*부트스트랩이 1~4를 사용해서 제일 앞으로 보여주기 위함*/
/*  width: 100%;
    height: 100%;
    display : none;  
}*/

/* 아래는 위와 기능은 유사하지만 애니메이트로 위->아래  */
.black-background{
    background : rgba(0,0,0,0.5);
    position : fixed;
    z-index : 5;    /*부트스트랩이 1~4를 사용해서 제일 앞으로 보여주기 위함*/
    width: 100%;
    height: 100%;
    display: none;
    margin-top : -1200px;     /*모달창 위로*/
}




.white-background{
    background : white;
    width : 30%;
    height: 500px;
    margin : 100px auto;
    padding: 20px;
    border-radius: 10px;
}

.nav-menu{
    display: flex;  /*가로배치*/
    justify-content: space-between;  /*양쪽정렬*/
    padding : 15px;
    align-items: center;
}

.nav-sub{
    display: none;
}

.btn-lg{
    margin-top: 35px;
}

#login{
    display: block;
    width: 140px;
}

#email-alert{
    display : none;
    margin-top: 15px;
}

#psw-alert{
    display: none;
    margin-top: 15px;
}

.left-menu{
    width: 150px;
    height: 100%;
    background: black;
    color : white;
    position: fixed;  /*붕 띄우기*/
    /* margin-left : -150px;  숨기려고 이건 animate 때 사용*/
    display : none;

}