.slide-box{
    width: 100vw;  /*viewport width(실제 브라우저 화면)로부터 100%차지 */
    float : left;  /*띄워서 왼쪽정렬*/
} 


/* .slide-container{
    width: 300vw;
} */

.slide-box img{
    width: 100%;   /*부모의 크기로부터 100%*/
}