.container{
    width: 1000px;
}

.header{
    width: 100%;     /* 상위태그 비율 */
    height: 50px;
    background-color: aquamarine;
}

.left-menu{
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    float: left;                   /* 붕 띄워서 왼쪽정렬 */
}

.right-menu{
    width: 80%;  
    height: 400px;
    background: coral;
    float: left;                  /* 붕 띄워서 우측정렬 */   
}

.footer{
    width: 100%;
    height: 100px;
    background-color: grey;     /* 이것만 하면 안보인다. 위의 left-menu, right 클래스가float를 써서 붕 띄워서 정렬됐기 때문
                                   이런 문제들은 clear:both 라는 속성을 써서 해결이 가능하다. */
    clear: both;                  /* left, right 다 사용가능하다 */
}
