.shop-bg{
    background-color: #eee;
    padding: 10px;
}

.shop-container{
    display: flex;  /*가로배치 */
    background-color: black;
    max-width: 800px;
    margin: auto;
}

.shop-item {            /*shop-item 태그들의 설정.*/
    width: 33%;         /*shop-container(부모)에 대비 최대폭의 % */
    padding: 25px;
    display: block;     /*이미지들은 보이지 않는 선들이 존재하는데 overwarp했을때 없애기 위해 사용*/
}

.shop-item img{  /*각 이미지들의 최대 폭. 안해주면 사진 지들 맘대로 들어가서 해줘야한다.*/
    width: 100%;
}

/* 시작스타일. 투명도 0 */
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 38, 11, 0.1);  /*최종스타일*/
    opacity: 0; /* 0일때 투명이고 시작 직전 모습, 1이 가장 투명도가 낮을때고 최종스타일*/
    transition: all 0.5s;  /*애니메이션 작동시 총 걸리는 시간. all말고 opacity 0.5s 라고해도됨*/
    
    /*위의 스타일이 변하면, n초동안 서서히 변경하게 해주세요 굳이 필요는 없다.*/
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*최종스타일. 마우스 올렸을때 (hover)투명도를 1로(투명도를 없애는것)*/
.overlay:hover{  
    opacity: 1;
}

/* -------------------------올리면 투명도 변하는 것 끝.-------------- */

/* overlay-wrap 시작 */
/* 방법?? => 투명박스(overlay-warp)에 마우스를 hover하면 안에 있는 
             overlay-change가 아래서 등장하게 만드는 것*/
.overlay-wrap{      /*이미지 위에 존재하는 div(투명한 박스라고 생각)*/
    position: absolute;  /*붕 띄우기*/
    width: 100%;
    height: 100%;
    overflow: hidden;  /*넘치는 부분은 안보이게 처리함*/
}

/* 가격표올라가기 시작,최종스타일 */
.overlay-change{
    width: 100%;
    height: 100%;
    background-color: rgba(87, 173, 87, 0.3);  /*최종화면의 투명도*/
    margin-top: 105%;  /*시작화면. (margin-top이므로 아래쪽에
    변하는 화면이 숨겨져있다.100% 하면 좀 모자라서 105%로 설정*/
    
    transition: all 0.5s;
}

/* 작동 */
/*overlay-wrap에 마우스를 올리고, 그 안에 있는 overlay-change가 변해야 하므로
                                             요기에 margin-top을 준다.!*/
.overlay-wrap:hover .overlay-change {  
   margin-top: 70%;  /*최종화면의 차지퍼센트*/

}