
/* font 추가하는 방법 */
@font-face{
    font-family: ' ';
    src : ()
}

body{ 
    margin:0px;
    font-family :Georgia, 'Times New Roman', Times, serif;
}

div, input, textarea {          /* div,input,textarea태그에 border-box를 다 주는 방법 */
    box-sizing: border-box;   /*border-box =>content부분만 width로 설정하지 말고 padding, border포함. 
                                즉 튀어나가는 거 방지*/
}

/* 안티앨리어세싱 => 각도를 조금 준다.*/
p, h4, h3, h2, h1, span{
    transform: rotate(0.03deg);
}



.form-background{
    background-color: black;
    width: 80%;
    max-width: 800px;
    padding: 40px;
    margin:auto;
}
 
.form-white{
    background-color: white;
    padding : 50px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;      /*width 100%라 해도 padding을 사용하거나 하면 더 튀어나가기 때문에 삐쭉하다.
                                 content영역이기 때문.  => border-box 사용 */
}

.w-50{
    width: 50%;
    float: left;
    padding: 10px;           /* 상자2개 붙는거 띄어놓기 */

}

.w-100{
    width: 100%;
    padding: 10px      /* 위에 w-50에 상자2개 붙는거 띄어놓기 때문에 간격 벌어진거 맞추는 용도*/
}

.textarea{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid black;
    box-sizing: border-box;    
}

.yellow-button{
    padding: 10px;
    display : block;
    margin-left: auto;

}